.circle {

    width: 70vw;
    height: 70vh;
    background: #faf2eb;
    /* opacity: 0.5; */
    border-radius: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: -10% auto;
    overflow: hidden;
    line-height: 2;
    position: relative;
    transform: translate(0, -50%);
    z-index: 1;
  }

.title {
    position: relative;
    text-align: center;
    font-size: 50px;
    color: #FDA65D;
    font-family: 'Oswald', sans-serif;


}
.navigation {
    display: flex;
    justify-content: space-between;
}
.navigation-right {
    width: 70vw;
    text-align: right;
    z-index: 3;
}
.dogallery_button {
    background: transparent;
    color: #636769;
    font-weight: 600;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 20px;
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    font-family: 'Oswald', sans-serif;
}

.home_button {
    background: transparent;
    background-repeat: no-repeat;
    color: #636769;
    font-weight: 600;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 20px;
    position: relative;
    float: inline-end;
    margin-top: 20px;
    /* margin-left: 60%; */
    margin-right: 2%;
    font-family: 'Oswald', sans-serif;
}

.about_button {
    background: transparent;
    background-repeat: no-repeat;
    color: #636769;
    font-weight: 600;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 20px;
    position: relative;
    float: inline-end;
    margin-top: 20px;
    margin-right: 2%;
    
    
    font-family: 'Oswald', sans-serif;
}

.categories_button {
    background: transparent;
    background-repeat: no-repeat;
    color: #636769;
    font-weight: 600;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 20px;
    float: inline-end;
    position: relative;
    margin-top: 20px;
    margin-right: 2%;
    font-family: 'Oswald', sans-serif;
}
.faq_button {
    background: transparent;
    background-repeat: no-repeat;
    color: #636769;
    font-weight: 600;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 20px;
    position: relative;
    float: inline-end;
    margin-top: 20px;
    margin-right: 2%;
    font-family: 'Oswald', sans-serif;
}
.contacts_button {
    background: transparent;
    background-repeat: no-repeat;
    color: #636769;
    font-weight: 600;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 20px;
    position: relative;
    float: inline-end;
    margin-right: 20px;
    margin-top: 20px;
    /* margin-left: 2% */
    font-family: 'Oswald', sans-serif;
    
}
  